{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    
  ],
  "ignore": ["**/*.spec.ts", "node_modules", "**/*.d.ts", "*.ignore"]
}
