# Packages
node_modules/

# Yarn
.yarn/

# Config
.babelrc
.eslintigore
.eslintrc.json
.yarnrc.yml
.editorconfig
tsconfig.json

# GitHub
sonar-project.properties
.gitignore
.github/

# Dev 
ND_CLI.json
Src/
test/
Assets/